# HW2. SQL Basics

## Objectives

In this homework assignment, you will use SQL to store and query a database. You will practice the followings:

 - How to use patterns to find matching information
 - How to use Order By to sort data
 - How to use Set Operators to union/intersect multiple tables
 - How to use Join Opeartor to join multiple tables
 
This assignment has a total of 10 points.

# HomeWork

Suppose you work at a bank as a data analyst. Your main job is to analyze the data stored in their database to find out information that can help the business. Please download the database at this [link](bank.db).

The database has five tables. The following shows their schemas. Primary key attributes are underlined and foreign keys are noted in superscript.
 - Customer = {<span style="text-decoration:underline">customerID</span>, firstName, lastName, income, birthDate}
 - Account = {<span style="text-decoration:underline">accNumber</span>, type, balance, branchNumber<sup>FK-Branch</sup>}
 - Owns = {<span style="text-decoration:underline">customerID</span><sup>FK-Customer</sup>, <span style="text-decoration:underline">accNumber</span><sup>FK-Account</sup>}
 - Transactions = {<span style="text-decoration:underline">transNumber</span>, <span style="text-decoration:underline">accNumber</span><sup>FK-Account</sup>, amount}
 - Employee = {<span style="text-decoration:underline">sin</span>, firstName, lastName, salary, branchNumber<sup>FK-Branch</sup>}
 - Branch = {<span style="text-decoration:underline">branchNumber</span>, branchName, managerSIN<sup>FK-Employee</sup>, budget}

Please run the next two cells after downloading the database, before you start.

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///bank.db

1. (1 point) Suppose you talked with a customer, you remember their name started with 'M', inluded an 'r' and finished with an 'a', but you are not sure about the complete spelling. Please write a SQL query to show the first name and last name of the customers with such first name.

In [ ]:
#REPLACE WITH YOUR CODE

2. (1 point) Please write a SQL query to show names of the branches and first name and last name of their managers.

In [ ]:
#REPLACE WITH YOUR CODE

3. (2 points) Please write a SQL query to find out employees who are also customers (based on their matching first name and last names).

In [ ]:
#REPLACE WITH YOUR CODE

4. (3 points) Please write a SQL query to show account number, account type, account balance, and transaction amount of the accounts with balance higher than 100,000 and transaction amouns higher than 15000, starting by the accounts with the highest transaction amount and highest account balance.

In [ ]:
#REPLACE WITH YOUR CODE

5. (3 points) Please write a SQL query to find the customer ID, first name, and last name of customers who own accounts at London and Berlin branches, order by last name and first name.

In [ ]:
#REPLACE WITH YOUR CODE

## Submission

Complete the code in this notebook [hw2.ipynb](hw2.ipynb), and submit it to through Canvas system to your HW2 activity. You can also include a pdf file where you can add your comments, thoughts, explanations about any of the questions.